body{
   background-color: #ffffff;
}
/*头部*/
header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #d8d8d8;
    position: fixed;
    top:0px;
    background-color: white;
    z-index: 10;
}
/*头部居中包含快*/
.header-body{
    width: 1200px;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
/*左浮动logo*/
.header-left{
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 100;
}
/*logo旁边城市的设定及位置*/
.header-left a:last-child{
    display: flex;
    align-items: center;
    margin-left: 22px;
    margin-top: 5px;
}
header a{
    text-decoration: none;
}
/*城市两个字样式*/
.city{
    color: #676767;
    display: inline-block;
    font-size: 15px;
}
/*城市下拉图标*/
.xiala{
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top:5px solid  #676767;
    display: inline-block;
    transition: 0.5s;
    margin-left: 5.5px;
    margin-top: 3px;
}
/*下拉图标被hover*/
.header-left a:last-child:hover span:last-child{
    transform:rotate(180deg);

}
/*左浮动居中链接*/
.header-center{
    display: flex;
    margin-left: 70px;
    float: left;
}
/*每一个链接的样式*/
.header-center li{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-center>li:nth-child(2){
    background-color: #ef4339;
}
.header-center>li:nth-child(2) a{
    color: white;
}
/*字体样式*/
.header-center li a{
    color: #676767;
    font-size: 18px;
}
.header-center li:hover a{
    color: white;
}
.header-center li:hover{
    background-color: #ef4339;
}
/*右浮动头像*/
.header-right{
    height: 80px;
    display: flex;
    align-items: center;
    float: right;
}
/*搜索栏包含块相对定位*/
.sousuolan{
    position: relative;
}
/*搜索框*/
.sousuokuang{
    height: 40px;
    width: 218px;
    outline: none;
    border-radius:44px;
    border: 1px solid #e3e3e3;
    background-color: #faf8fa;
    padding-left: 20px;
    padding-right: 42px;

}
/*搜索框提示字体样式*/
input::-webkit-input-placeholder{
    color: #e3e3e3;
}
/*放大镜样式*/
.fangdajing{
    background-color: #ef4339;
    border-radius: 42px;
    border: 1px solid #ef4339;
}
/*放大镜绝对定位*/
.sousuolan a{
    position: absolute;
    right: 0px;
    top:1px
}
/*人物头像包含块*/
.renwulan{
    margin-left:20px ;
}
/*头像样式*/
.touxiang{
    height: 42px;
}
/*人物旁下拉箭头*/
.renwuxiala{
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top:5px solid  #676767;
    display: inline-block;
    transition: 0.5s;
    margin-left: 4px;

}
/*箭头被hover时的样式*/
.renwulan:hover span{
    transform:rotate(180deg);
}
/*电影上映*/
.dianyingshangying{

    width: 100%;
    height: 65px;
    line-height: 65px;
    background-color: #48474b;
    margin-top: 80px;
}
/*.dianyingshangying1>li{*/
    /*width: 70px;*/
    /*height: 22px;*/
/*}*/
a{
    text-decoration: none;
}
.dianyingshangying a{
    color: #787e7e;
}
.dianyingshangying1>ul{
    display: flex;
    justify-content: center;
}
.dianyingshangying1>ul>li{
    margin-right: 80px;
    position: relative;
}
.dianyingshangying1>ul>li:hover a{
 color: red;
}
/*.dianyingshangying{*/
    /*position: relative;*/
/*}*/
.dianyingshangying1>ul>li:hover span{
     opacity: 1;
}
.dianyingshangying1>ul>li:hover b{
    opacity: 1;
}
.dianyingshangying1>ul>li:hover i{
    opacity: 1;
}
.dianyingshangying1 span{
    width: 0px;
    height: 0px;
    border: 10px solid #ffffff;
    border-color: transparent transparent #ffffff;
    position: absolute;
    top: 45px;
    left: 18px;
    opacity: 0;
}
.dianyingshangying1 b{
    width: 0px;
    height: 0px;
    border: 10px solid #ffffff;
    border-color: transparent transparent #ffffff;
    position: absolute;
    top: 45px;
    left: 23px;
    opacity: 0;
}
.dianyingshangying1 i{
    width: 0px;
    height: 0px;
    border: 10px solid #ffffff;
    border-color: transparent transparent #ffffff;
    position: absolute;
    top: 45px;
    left: 23px;
    opacity: 0;
}
/*内容区*/
.neirongqu{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
}
/*电影类型*/
.leixing{
    width: 1200px;
    height: 210px;
    border: 1px solid #e5e5e5;;
}
.leixing1{
    height: 85px;
    border-bottom: 1px dotted #e5e5e5;
    box-sizing: border-box;
}
.leixing1 ul{
   padding-top: 13px;
}
.leixing2{
    height: 80px;
    border-bottom: 1px dotted #e5e5e5;
    box-sizing: border-box;
}
.leixing2 ul{
padding-top: 13px;
}
.leixing3{
    height: 45px;
    line-height: 45px;
}
.leixing a{
   color: #5f656b;
}
.leixing ul{
    display: flex;
}
.leixing ul>li:nth-child(2) {
    margin-left: 16px;
}
.leixing li:first-child{
    margin-left: 20px;
}
.leixing3 li:nth-child(2){
margin-top: 10px;
}
.leixing li:not(:nth-child(1)){
    margin-right: 24px;
}
.yipai li:nth-child(2){
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    color: #fdf0e6;
    background-color: #f34e42;
}
.yipai li:nth-child(1) {
    color: #9a9a9a;
}
.yipai li:nth-child(2) a{
    color: #fdf0e6;
    background-color: #f34e42;
}
/*.leixing li:hover a{*/
    /*color: #cbfd6a;*/
/*}*/
.yipai li:not(:nth-child(1)):hover a{
    color: #fff4da;
    box-shadow: 3px 2px 2px 3px silver;
    background-color: #f34e42;
}
.erpai{
    padding-left: 60px;
}
.erpai li:hover a{
    color: #fff4da;
    box-shadow: 3px 2px 2px 3px silver;
    background-color: #f34e42;
}
/*热门推荐*/
.rnmentuijian{
    height: 75px;
    line-height: 75px;
    display: flex;
    justify-content: space-between;
}
.rnmentuijian1>ul{
    display: flex;
}
.rnmentuijian1>ul>li{
   width:120px ;
    margin-left: 30px;
}
.rnmentuijian1{
    width: 360px;
    position: relative;
}
.rnmentuijian2{
    width: 75px;
    position: relative;
}
.rnmentuijian1 i{
    width: 20px;
    height: 20px;
    background-image:url("../img/dianying1.png");
    background-position:-519px -420px ;
    position: absolute;
    top: 30px;
    left: 2px;
}
.rnmentuijian1 li:hover i{
    width: 20px;
    height: 20px;
    background-image:url("../img/dianying1.png");
    background-position:-393px -418px ;
    position: absolute;
    top: 30px;
    left: 2px;
}
.rnmentuijian1 b{
    width: 20px;
    height: 20px;
    background-image:url("../img/dianying1.png");
    background-position:-519px -420px ;
    position: absolute;
    top: 30px;
    left: 124px;
}
.rnmentuijian1 li:hover b{
    width: 20px;
    height: 20px;
    background-image:url("../img/dianying1.png");
    background-position:-393px -418px ;
    position: absolute;
    top: 30px;
    left: 124px;
}
.rnmentuijian1 span{
    width: 20px;
    height: 20px;
    background-image:url("../img/dianying1.png");
    background-position:-519px -420px ;
    position: absolute;
    top: 30px;
    left: 245px;
}
.rnmentuijian1 li:hover span{
    width: 20px;
    height: 20px;
    background-image:url("../img/dianying1.png");
    background-position:-393px -418px ;
    position: absolute;
    top: 30px;
    left: 245px;
}
.rnmentuijian2 i{
    width: 20px;
    height: 20px;
    background-image:url("../img/dianying1.png");
    background-position:-1436px -417px ;
    position: absolute;
    top: 29px;
    left: -22px;
}

/*反贪风暴*/
.fantangfengbao{
   height: 320px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.fantangfengbao img{
    width: 164px;
    height: 227px;
}
.fantangfengbao p{
    color: #ffd468;
    font-style: oblique;
}
.fantangfengbao>.fantangfengbao1,.fantangfengbao2,.fantangfengbao3,.fantangfengbao4,.fantangfengbao5,.fantangfengbao6{
    width: 164px;
    height: 320px;
    text-align: center;
}
.fantangfengbao>.fantangfengbao3>i{
    width: 70px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-775px -467px ;
    position: absolute;
    left: 411px;
    top: 5px;
}
.fantangfengbao>.fantangfengbao4>i{
    width: 70px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-775px -467px ;
    position: absolute;
    left: 618px;
    top: 5px;
}
.fantangfengbao>.fantangfengbao5>i{
     width: 31px;
     height: 22px;
     background-image:url("../img/dianying1.png");
     background-position:-1155px -467px ;
     position: absolute;
     left: 826px;
     top: 5px;
 }
.fantangfengbao>.fantangfengbao6>i{
    width: 70px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-775px -467px ;
    position: absolute;
    left: 1032px;
    top: 5px;
}

/*追凶者也*/
.zhuixiongzheye{
    height: 320px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.zhuixiongzheye img{
    width: 164px;
    height: 227px;
}
.zhuixiongzheye p{
    color: #ffd468;
    font-style: oblique;
}
.zhuixiongzheye>.fantangfengbao1,.fantangfengbao2,.fantangfengbao3,.fantangfengbao4,.fantangfengbao5,.fantangfengbao6{
    width: 164px;
    height: 320px;
    text-align: center;
}
.zhuixiongzheye>.fantangfengbao3>i{
    width: 70px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-775px -467px ;
    position: absolute;
    left: 411px;
    top: 5px;
}
.zhuixiongzheye>.fantangfengbao5>i{
    width: 31px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-1155px -467px ;
    position: absolute;
    left: 826px;
    top: 5px;
}
.zhuixiongzheye>.fantangfengbao6>i{
    width: 70px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-775px -467px ;
    position: absolute;
    left: 1032px;
    top: 5px;
}
/*寒战*/
.hanzhan{
    height: 320px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.hanzhan img{
    width: 164px;
    height: 227px;
}
.hanzhan p{
    color: #ffd468;
    font-style: oblique;
}
.hanzhan>.fantangfengbao1,.fantangfengbao2,.fantangfengbao3,.fantangfengbao4,.fantangfengbao5,.fantangfengbao6{
    width: 164px;
    height: 320px;
    text-align: center;
}
.hanzhan>.fantangfengbao1>i{
    width: 70px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-775px -467px ;
    position: absolute;
    left: -2px;
    top: 5px;
}
.hanzhan>.fantangfengbao2>i{
    width: 70px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-775px -467px ;
    position: absolute;
    left: 203px;
    top: 5px;
}
.hanzhan>.fantangfengbao3>i{
    width: 31px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-1155px -467px ;
    position: absolute;
    left: 411px;
    top: 5px;
}
/*釜山行*/
.fushangxing{
    height: 320px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.fushangxing img{
    width: 164px;
    height: 227px;
}
.fushangxing p{
    color: #ffd468;
    font-style: oblique;
}
.fushangxing>.fantangfengbao1,.fantangfengbao2,.fantangfengbao3,.fantangfengbao4,.fantangfengbao5,.fantangfengbao6{
    width: 164px;
    height: 320px;
    text-align: center;
}
.fushangxing>.fantangfengbao2>i{
    width: 70px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-775px -467px ;
    position: absolute;
    left: 203px;
    top: 5px;
}
.fushangxing>.fantangfengbao4>i{
    width: 70px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-775px -467px ;
    position: absolute;
    left: 618px;
    top: 5px;
}
.fushangxing>.fantangfengbao5>i{
    width: 70px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-775px -467px ;
    position: absolute;
    left: 826px;
    top: 5px;
}
.fushangxing>.fantangfengbao6>i{
    width: 31px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-1155px -467px ;
    position: absolute;
    left: 1032px;
    top: 5px;
}
/*精钢狼3*/
.jingganglangsan{
    height: 320px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.jingganglangsan img{
    width: 164px;
    height: 227px;
}
.jingganglangsan p{
    color: #ffd468;
    font-style: oblique;
}
.jingganglangsan>.fantangfengbao1,.fantangfengbao2,.fantangfengbao3,.fantangfengbao4,.fantangfengbao5,.fantangfengbao6{
    width: 164px;
    height: 320px;
    text-align: center;
}
.jingganglangsan>.fantangfengbao4>i{
    width: 70px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-775px -467px ;
    position: absolute;
    left: 618px;
    top: 5px;
}
.jingganglangsan>.fantangfengbao5>i{
    width: 31px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-1155px -467px ;
    position: absolute;
    left: 826px;
    top: 5px;
}
.jingganglangsan>.fantangfengbao6>i{
    width: 70px;
    height: 22px;
    background-image:url("../img/dianying1.png");
    background-position:-775px -467px ;
    position: absolute;
    left: 1032px;
    top: 5px;
}
figure{
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*图片效果*/
.fantangfengbao figure:hover img{
    height: 250px;
    width: 180px;
    transition: all linear 2s;
    /*transform: rotate(360deg);*/
    box-shadow: 2px 3px 3px 3px #9a9a9a;
}
.zhuixiongzheye figure:hover img{
    height: 250px;
    width: 180px;
    transition: all linear 2s;
    /*transform: rotate(360deg);*/
    box-shadow: 2px 3px 2px 3px #b8b8b2;
}
.hanzhan figure:hover img{
    height: 250px;
    width: 180px;
    transition: all linear 2s;
    /*transform: rotate(360deg);*/
    box-shadow: 2px 3px 2px 3px #d8d8d8;
}
.fushangxing figure:hover img{
    height: 250px;
    width: 180px;
    transition: all linear 2s;
    /*transform: rotate(360deg);*/
    box-shadow: 2px 3px 2px 3px #5f656b;
}
.jingganglangsan figure:hover img{
    height: 250px;
    width: 180px;
    transition: all linear 2s;
/*transform: rotate(360deg);*/
    box-shadow: 2px 3px 2px 3px #9a9a9a;
}

/*下一页*/
.xiayiye{
    height: 130px;
}
.xiayiye>ul{
    display: flex;
    justify-content: center;
}
.xiayiye>ul>li{
margin-right: 13px;
}
.xiayiye>ul>li>input{
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    outline: none;
}
.xiayiye>ul>li:nth-child(6) input{
    width: 38px;
    height: 35px;
}
.xiayiye>ul>li:nth-child(7) input{
     width: 72px;
     height: 35px;
 }
.xiayiye>ul>li:nth-child(8) input{
    width: 72px;
    height: 35px;
}
.xiayiye>ul>li:hover{
 box-shadow:2px 1px 2px 3px gainsboro ;
}
/*尾部*/
.maoyandianying{
    width: 100%;
    height: 150px;
    text-align: center;
    color: #676767;
    background-color: #282628;
}
.maoyandianying1{
    padding-top: 60px;
}
.maoyandianying span:hover{
    color: #f46258;
    background-color: #d8d8d8;
}
.maoyandianying2{
    padding-top: 10px;
}